* {
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
        box-sizing: border-box;
}

body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

canvas {
  margin: 0;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -1;
}
/* ---------------------------------------------------------------------- */
/* -------------------------------header--------------------------------- */

/* .row {
  background-color: #efefef;
} */
.header h1:hover {
  color: black;
}
.column {
  float: left;
  padding: 20px;
}
.left {
  text-align: right;
  width: 45%;
  padding: 3px;
}
.right {
  text-align: left;
  width: 45%;
  padding: 3px;
}
.middle {
  text-align: center;
  width: 10%;
  padding: 10px;
}
.header:after {
  content: "";
  display: table;
  clear: both;
}
.title {
  text-align: center;
  padding-bottom: 15px;
}
/* ---------------------------------------------------------------------- */
/* --------------------------Personal Statement-------------------------- */
.statement {
  width: 100%;
  text-align: center;
}
.paragraph {
  position: relative;
  width: 50%;
  left: 25%;
  right: 25%;
}
/* ---------------------------------------------------------------------- */
/* -------------------------------gallery-------------------------------- */
.gallery {
  width: 100%;
}
.work {
  position: relative;
  left: 30%;
  right: 30%;
  width: 40%;
}
.image {
  display: block;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
  background-color: white;
}
.work:hover .overlay {
  opacity: 0.9;
}
.text {
  color: #969696;
  font-family: 'Cabin', sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.artTitle {
  color: #969696;
  font-family: 'Cabin', sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 400;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 20px;
}
/*
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}
.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
} */
/* ---------------------------------------------------------------------- */
/* --------------------------------text---------------------------------- */
h1 {
  color: #969696;
  font-family: 'Cabin', sans-serif;
  font-size: 12px;
  display: inline-block;
  letter-spacing: 2px;
  font-weight: 400;
}

p {
  color: #969696;
  font-family: 'Cabin', sans-serif;
  font-size: 12px;
  text-align: left;
  /* padding: 10px 300px; */
  position: absolute;
  /* top: 75%;
  left: 0px; */
  display: block;
  letter-spacing: 2px;
  font-weight: 400;
}

a:link {
  text-decoration: none;
  color: #969696;
  font-family: 'Cabin', sans-serif;
  font-size: 12px;
  display: inline-block;
  letter-spacing: 2px;
  font-weight: 400;
}
a:visited {
  text-decoration: none;
  color: #969696;
}
a:hover {
  text-decoration: none;
  color: black;
}
/* ---------------------------------------------------------------------- */
/* ----------------------------last update------------------------------- */
.footer {
  position: relative;
  text-align: center;
  width: 100%;
  /* display: block; */
  /* padding-right: 10px; */
  margin-right: auto;
  margin-left: auto;
  bottom: 20px;
}
/* ---------------------------------------------------------------------- */
/* ------------------------------favicon--------------------------------- */

img {
  text-align: center;
}
