* {
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
        box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  z-index: -1;
}
canvas {
  margin: 0;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -1;
}
/* ---------------------------------------------------------------------- */
/* --------------------------firefox scrollbar--------------------------- */
.scroller {
  width: 100%;
  height: inherit;
  overflow-y: scroll;
  scrollbar-color: #d1d1d1 #fafafa;
  scrollbar-width: thin;
}
/* ---------------------------------------------------------------------- */
/* --------------------------chrome scrollbar---------------------------- */
.scroller::-webkit-scrollbar {
    width: 5px;
    height: 15px;
}
.scroller::-webkit-scrollbar-track-piece  {
    background-color: #fafafa;
}
.scroller::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    background-color: #d1d1d1;
}
/* ---------------------------------------------------------------------- */
/* ---------------------------header & footer---------------------------- */

/* .row {
  background-color: #efefef;
} */
.center_column {
  text-align: center;
  flex: 1 0 auto;
}
/* .center_column h1:hover {
  color: white;
}
.center_column h2:hover {
  color: white;
} */
.header_main_link {
  padding-top:1em;
  text-align: center;
}
.header_sub_link {
  text-align: center;
}
.homepage_image {
  text-align: center;
  width: 90%;
  padding: 2em;
  margin-left: 5%;
  margin-right: 5%;
}
.homepage_text {
  text-align: left;
  padding-left: 35%;
  padding-right: 35%;
}
.footer {
  position:absolute;
  bottom:0px;
  text-align: center;
  padding-bottom: 2em;
  flex-shrink: 0;
}
.cv {
  text-align: left;
  width: 30%;
  margin-right: 35%;
  margin-left: 35%;
}
.empty {
  padding: 2em;
}
img {
  text-align: center;
  width: 100%;
  padding-left: 0em;
}
h1, h2, h3, h4, h5, h6, h7 {
  color:black;
  font-family: 'Montserrat', sans-serif;
}
h3, h4, h5, h6, h7 {
  font-size: 16px;
  font-weight: 300;
}
h1 {
  font-size: 48px;
  letter-spacing: 0px;
  font-weight: 200;
  margin:0;
  padding:0;
  display: inline;
}
h2 {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
  display: inline;
}
h3 {
  display: block;
  letter-spacing: 2px;
  text-align: left;
  margin-left: 16px;
  margin-right: 16px;
}
h4 {
  display: block;
  letter-spacing: 2px;
  text-align: left;
  margin-left: 16px;
  margin-right: 16px;
}
h5 {
  display: block;
  letter-spacing: 1px;
  text-align: left;
  text-align: justify;
  margin-left: 16px;
  margin-right: 16px;
}
h6 {
  display: block;
  letter-spacing: 2px;
  text-align: left;
}
h7 {
  letter-spacing: 1px;
  display: inline;
}
a:link {
  text-decoration: none;
  display: inline-block;
  letter-spacing: 2px;
}
a:visited {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
  color: black;
}
/* --------------------------Portfolio-------------------------------- */

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1px;
  /* originally width: 50%, margin left and right: 25% */
  max-width: 80%;
  margin-left: 20%;
  margin-right: 20%;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 15%;
  max-width: 100%;
  padding: 0 2px;
}

.column img {
  margin-top: 3px;
  vertical-align: middle;
  width: 100%;
}

/* --------------------------Grid for CV-------------------------------- */

.grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto;
  background-color: #fafafa;
}
.grid-item {
  background-color: #fafafa;
  border: 0px solid #fafafa;
  text-align: left;
  height: 180px;
}
.grid-item2 {
  background-color: #fafafa;
  border: 0px solid #fafafa;
  text-align: left;
  height: 80px;
}
.grid-item3 {
  background-color: #fafafa;
  border: 0px solid #fafafa;
  text-align: left;
  height: 45px;
}
.grid-item4 {
  background-color: #fafafa;
  border: 0px solid #fafafa;
  text-align: left;
  height: 65px;
}
/* -----------------------------Contact Form---------------------------- */

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
 width: 50%; /* Full width */
 padding: 12px; /* Some padding */
 border: 1px solid #ccc; /* Gray border */
 border-radius: 4px; /* Rounded borders */
 box-sizing: border-box; /* Make sure that padding and width stays in place */
 margin-top: 6px; /* Add a top margin */
 margin-bottom: 16px; /* Bottom margin */
 resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
 background-color: #4CAF50;
 color: white;
 padding: 12px 20px;
 border: none;
 border-radius: 4px;
 cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
 background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
 border-radius: 5px;
 background-color: #f2f2f2;
 padding: 20px;
}
/* --------------------------------------------------------------------- */
/* Responsive layout - makes a two column-layout instead of four columns */
/* --------------------------------------------------------------------- */
@media screen and (max-width: 1920px) {
  .homepage_image {
    text-align: center;
    width: 70%;
    padding: 0 0 1em 0;
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media screen and (max-width: 1200px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .homepage_image {
    width: 90%;
    text-align: center;
    padding: 0em;
    margin-left: 5%;
    margin-right: 5%;
  }
  .homepage_text {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
  }
  .cv {
    text-align: left;
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
  }
  .grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto ;
    background-color: #090909;
  }
}

/* --------------------------------------------------------------------- */
/* Responsive layout - makes a two column-layout instead of four columns */
/* --------------------------------------------------------------------- */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .homepage_image {
    width: 90%;
    text-align: center;
    padding: 0em;
    margin-left: 5%;
    margin-right: 5%;
  }
  .homepage_text {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
  }
  .cv {
    text-align: left;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
  }
  .grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto ;
    background-color: #090909;
  }
  .grid-item2 {
    background-color: #090909;
    border: 0px solid #090909;
    text-align: left;
    height: 70px;
  }
  h1 {
    font-size: 36px;
    font-weight: 200;
  }
  h2 {
    font-size: 12px;
  }
  h3 {
    font-size: 12px;
  }
  h4 {
    font-size: 12px;
  }
  h5 {
    font-size: 12px;
  }
  h6 {
    font-size: 12px;
  }
  h7 {
    font-size: 12px;
  }
}

/* --------------------------------------------------------------------- */
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
/* --------------------------------------------------------------------- */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .homepage_image {
    width: 90%;
    text-align: center;
    padding: 0em;
    margin-left: 5%;
    margin-right: 5%;
  }
  .homepage_text {
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
  }
  .cv {
    text-align: left;
    width: 94%;
    margin-right: 3%;
    margin-left: 3%;
  }
  .grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr auto ;
    background-color: #090909;
  }
  .grid-item2 {
    background-color: #090909;
    border: 0px solid #090909;
    text-align: left;
    height: 80px;
  }
  .grid-item4 {
    background-color: #090909;
    border: 0px solid #090909;
    text-align: left;
    height: 90px;
  }
  h1 {
    font-size: 32px;
    font-weight: 200;
    letter-spacing: 5px;
  }
  h2 {
    font-size: 12px;
  }
  h3 {
    font-size: 12px;
  }
  h4 {
    font-size: 12px;
  }
  h5 {
    font-size: 12px;
  }
  h6 {
    font-size: 12px;
  }
  h7 {
    font-size: 12px;
  }
}
