@media only screen and (min-width: 980px) {

  * {
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
  }
  
  body {
      width: 100%;
      overflow-x: hidden;
    }

  h1 {
    color: black;
    font-family: 'Cabin', sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 20px;
    text-decoration: none;
    padding-top: 0em;
    padding-bottom: 0em;
  }

  h2 {
    color: black;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 20px;
    text-decoration: none;
    padding-top: 0em;
    padding-bottom: 0em;
  }

  p {
    color: black;
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 400;
    text-align: left;
    width: 50%;
    /* left: 50%; */
    transform: translate(50%);
    padding-bottom: 20px;
    text-decoration: none;
    padding-top: 0em;
    padding-bottom: 0em;
  }

  a:link {
    color: #969696;
    font-family: 'Cabin', sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 20px;
    text-decoration: none;
    padding-left: 1em;
    padding-top: 0em;
    padding-bottom: 0em;
  }

  a:visited {
    color: #969696;
    font-family: 'Cabin', sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 20px;
    text-decoration: none;
  }
  a:hover {
    color: black;
    font-family: 'Cabin', sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 20px;
    text-decoration: none;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  hr {
    display: block;
    color: #c9c9c9;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 18%;
    margin-right: 18%;
    border-style: solid;
    border-width: 1px;
  }
}

/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */

@media only screen and (max-width: 980px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }
  h1 {
    display: grid;
    color: black;
    font-family: 'Cabin', sans-serif;
    font-size: 48px;
    letter-spacing: 2px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 20px;
    text-decoration: none;
    padding-top: 0em;
    padding-bottom: 0em;
  }

  h2 {
    color: black;
    font-family: 'Cabin', sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 20px;
    text-decoration: none;
    padding-top: 0em;
    padding-bottom: 0em;
  }

  p {
    color: black;
    font-family: 'Cabin', sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 400;
    text-align: left;
    width: 95%;
    /* left: 50%; */
    transform: translate(2.5%);
    padding-bottom: 20px;
    text-decoration: none;
    padding-top: 0em;
    padding-bottom: 0em;
  }

  a:link {
    color: #969696;
    font-family: 'Cabin', sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 0px;
    text-decoration: none;
    padding-left: 1em;
    padding-top: 0em;
    padding-bottom: 0em;
  }

  a:visited {
    color: #969696;
    font-family: 'Cabin', sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 0px;
    text-decoration: none;
  }
  a:hover {
    color: black;
    font-family: 'Cabin', sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 0px;
    text-decoration: none;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }

  video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }

  hr {
    display: block;
    color: #c9c9c9;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 5%;
    margin-right: 5%;
    border-style: solid;
    border-width: 2px;
  }
}
