* {
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
        box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  margin: 0px;
}
/* ---------------------------------------------------------------------- */
/* --------------------------firefox scrollbar--------------------------- */
.scroller {
  width: 100%;
  height: inherit;
  overflow-y: scroll;
  scrollbar-color: red #f0f0f0;
  scrollbar-width: thin;
}
/* ---------------------------------------------------------------------- */
/* --------------------------chrome scrollbar---------------------------- */
.scroller::-webkit-scrollbar {
    width: 5px;
    height: 15px;
}
.scroller::-webkit-scrollbar-track-piece  {
    background-color: #050505;
}
.scroller::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    background-color: #232323;
}
/* ---------------------------------------------------------------------- */
/* ---------------------------header & footer---------------------------- */

h1 {
  color: black;
  font-family: 'Inter', sans-serif;
  font-size: 36px;
  letter-spacing: 8px;
  font-weight: 400;
  margin: 0px;
}
h2 {
  color: #2b2b2b;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 300;
  margin: 0px;
}
a {
  color: black;
}
a:link {
  text-decoration: none;
  display: inline-block;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
